# Environment variables
.env
*.env

# Python cache
__pycache__/
*.pyc

# Database file
db.sqlite3

# Virtual environment (committed previously, but ignore future changes/additions)
venv/
env/
*/venv/
*/env/

# Editor/OS files
.vscode/
*.save
*.backup

# Django static files (Uncomment if you collect static files locally and don't want them in Git)
# staticfiles/